# Ignore server.log file
server/server.log

# Other common ignores
*.log
*.tmp
*.swp
*.bak
*.old
*.orig
*.rej
*.swo
*.DS_Store
*.class
*.pyc
*.pyo
*.pyd
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out
*.a
*.lib
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.bz2
*.xz
*.7z
*.iso
*.img
*.vmdk
*.vdi
*.qcow2
*.vhd
*.vhdx
*.ova
*.ovf
*.box
*.log
*.tmp
*.swp
*.bak
*.old
*.orig
*.rej
*.swo
*.DS_Store
*.class
*.pyc
*.pyo
*.pyd
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out
*.a
*.lib
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.bz2
*.xz
*.7z
*.iso
*.img
*.vmdk
*.vdi
*.qcow2
*.vhd
*.vhdx
*.ova
*.ovf
*.box